@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--vt-c-secondary);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--vt-c-secondary-hover);
}

.green {
  color: hsla(160, 100%, 37%, 1);
}

.green:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: flex-start; /* Align content to the top left */
    align-items: flex-start;
  }

  #app {
    display: block; /* Ensure a simple vertical flow */
    padding: 0 2rem;
  }
}
